main {
  height: 100%;
  padding: 20px 5px 0 5px;
}

.estacao-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-estacao {
  display: flex;
  border-radius: 50px;
  padding: 5px;
  gap: 3px;
}

.input{
  display: flex;
  background-color: #737373;
  padding: 5px 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input select {
  background-color: #737373;
  border: none;
  color: white;
  margin-left: 8px;
}

.input select:focus {
  outline: none;
}

#search-button {
  background-color: #fdb833;
  color: black;
  font-weight: 700;
  padding: 0 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#nao-sei-estacao {
  background-color: black;
  color: #fdb833;
  border: solid 1px #fdb833;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 50px;
}

#mapa {
  margin-top: 15px;
  width: 440px;
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.hidden {
  display: none !important;
}

.mapa-form {
  display: flex;
  border: solid 2px #fdb833;
  border-radius: 15px;
  width: 440px;
  padding: .6rem 1.5rem;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-item input {
  background-color: #1c1c1c;
  padding: .5rem;
  border: solid 1px black;
  border-radius: 10rem;
  color: white;
}

.row-centered {
  display: flex;
  justify-content: center;
}

.btn-discover {
  background-color: black;
  color: #fdb833;
  border: none;
  padding: .5rem .8rem;
  border-radius: 10rem;
  margin-top: .5rem;
}


#map-image {
  width: 440px;
  display: flex;
  justify-content: center;
}


#map-image img {
  width: 85%;
  object-fit: fill;
  border: solid 2px #fdb833;
  border-radius: 15px;
}

.routes {
  padding: .4rem;
  display: flex;
  flex-direction: column;
}

.route {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.route-x {
  color: #9739c8;
}

.route-name {
  color: #9739c8;
  font-size: 1.45rem;
}

.train-icon {
  width: 4rem;
}

.line {
  display: flex;
  width: 100%;
  align-self: center;
  align-items: center;
}

.text-route-x {
  color: #9739c8;
}

.text-route-y {
  color: #7364d2;
}

.text-route-z {
  color: #56ab91;
}

.bg-route-x {
  background-color: #9739c8;
}

.bg-route-y {
  background-color: #7364d2;
}

.bg-route-z {
  background-color: #56ab91;
}

.route-line {
  width: 100%;
  height: 4px;
}

.bi-caret-left-fill {
  position: relative;
  left: 10px;
  top: 1px;
}

.bi-caret-right-fill {
  position: relative;
  right: 10px;
  top: 1px;
}